<section>
    <div class="footer">
        <!--
            <P><small>Adevoon is a software company that develops web applications for small
            to medium size companies and business.<br>Our mission is to provide a complete service for any one who wants 
            to be in tech industry, taking you from an idea in your head to your first paying customers and 
            beyond </br> <br>Application Development Operations</br> &copy; Copyright 2019 Adevoon</small>
        </P>
         -->
         <div id="footerDiv1">
            <section id="footer3">
                Terms and conditions sections....
            </section>
            <section id="footer1">
                <ul class="footer-list">
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/price">Our Price</a></li>
                    <li><a href="/work">Our Work</a></li>
                    <li><a href="/team">Our Team</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
             </section>
         </div>
         <div id="footerDiv2">
            <section id="footer2">
                <p>
                    <small>Application Development Operations</br> &copy; Copyright 2019 Adevoon | All Rights Reserved </small>
                </p>
             </section>
         </div>      
    </div>
</section>