<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="Adevoon" content="Application Development Operations" />
<meta name="IvoMofor" content="Author"/>
<title>Adevoon</title>
<link rel="stylesheet" href="../public/styles/mainStyle.css"/>
<link rel="stylesheet" href="../public/styles/footer.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">