<nav role="navigation" id="navbar">
    <ul class="main-list">
        <li><a class="change-color-at-hover-to-cream-white" href="/contact">Contact Us</a></li>
        <li><a class="change-color-at-hover-to-cream-white" href="/about">About Us</a></li>
        <li><a class="change-color-at-hover-to-cream-white" href="/price">Our Price</a></li>
        <li><a class="change-color-at-hover-to-cream-white" href="/work">Our Work</a></li>
        <li><a class="change-color-at-hover-to-cream-white" href="/team">Our Team</a></li>
        <li><a class="change-color-at-hover-to-cream-white" href="/service">Services</a></li>
        <li><a class="change-color-at-hover-to-cream-white" href="/">Home</a></li>
        <li id="search">
            <strong><span id="adevoon">A</span>devoon</strong>
            <form action="https://www.google.com/" style="float: right" name="homePageSearchForm"
             onsubmit=" return sendSearchResault()" method="POST">
                <a>
                    <input type="search" placeholder="search" id="searchBox" name="homeSearchForm"/>
                    <input type="submit" id="searchBoxSumbit" value="search"/>
                </a>
            </form>
        </li>
    </ul>
</nav>