<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/about.css" />
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main role="main" class="content">
            <img src="../../public/images/product-design.png" style="width: 80%; margin: auto" />
                <h1><strong>A brief history</strong></h1>
                <div><p>
                        We love learning about people’s early-stage ideas and working alongside them to make 
                        their dreams into reality - from that initial idea you have in the shower to proposal.
                        We are passionate about offering a complete service to our clients and supporting them 
                        in every stage of their product’s life cycle.
                </p>
                </div>
                <div><p>
                        Adevoon was founded in 2019 to solve an industry-wide problem. Having worked as a 
                        developer both as a freelancer and in-house, Ivo  had grown frustrated with big agencies
                        that worked slowly, didn’t include the client in the development process, and ended up
                        delivering them a product that was not only expensive, but not what they really wanted.
                        In founding Adevoon, Ivo was inspired by the work philosophy of Basecamp founders 
                        Jason Fried and David Heinemeier-Hansson, as laid down in their book Rework.
                </p>
                </div>
                <div><p>
                        In early 2019, Ivo joined forces with Eddy, a developer with years of experience and a
                        knack for business development, in order to collaborate on bigger projects and diversify
                        the range of services offered by the company. Since then, Adevoon has experienced 
                        a great deal of growth, and has been able to offer more services to help businesses and 
                        startups create amazing digital products efficiently and cheaply.
                </p>
                </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Scripts -->
        <% include ../partials/scripts %>
    </body>
</html>