<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link href="../../public/styles/" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main role="main" class="content">
            <p><h1>Thanks for contacting us.</h1></p>
            <p>We will get back to you as soon as we can. </p>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Scripts -->
        <% include ../partials/scripts %>
    </body>
</html>