<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/indexFlexBox.css"/>
    </head>
    <body>
        <div id='mainDiv'>
            <section id="section1">
            <!-- <img src="../public/images/main-page-image.png" id="mainPageImage"/>-->
                <header>
                    <% include ../partials/header %>
                </header>
            </section>
            <main role="main" id="bodyFlexSection" class="content">
                <section id="section2">
                    <p></p>
                    <img src="../../public/images/main-page-image.png" id="mainPageImage2"/>
                    <p class="move-in">
                        OLorem ipsum dolor sit ametgency provLorem ipsum dolor sit ametLorem ipsum dolor sit amet
                       Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametr Lorem ipsum dolor sit amet
                        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet
                    </p>
                    <P>
                        <img src="../../public/images/home-second-image.png" id="mainPageImage2"/>
                    </P>
                    <p class="move-in alignText">
                        We Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametprLorem ipsum dolor sit amett 
                        Lorem ipsum dolor sit amet communicaLorem ipsum dolor sit ametprojeLorem ipsum dolor sit amete.
                       Lorem ipsum dolor sit ametsigLorem ipsum dolor sit amet weLorem ipsum dolor sit amets, 
                        Lorem ipsum dolor sit ameteautifully onLorem ipsum dolor sit ametLorem ipsum dolor sit amet
                    </p>
                    <p>
                        <img src="../../public/images/follow-on-dev.svg" id="mainPageImage3"/>
                    </p>
                    <p class="move-in">
                        <strong>Follow-on development</strong><br>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  
                        new phase, we’re here to help!<br><br>
                        <strong>MVP software development</strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    </p>
                </section>
                <section id="section3">
                    <p class="move-in"></p>
                    <img src="../../public/images/top-page-image.png" id="topPageImage"/>
                    <p class="move-in">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
                    </p>
                    <br>
                    <p class="move-in">
                    <strong>WHAT IS A “PAGE” DESIGN?</strong><br>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p><br>
                    <p class="move-in">
                        <strong> HOW LONG DOES IT TAKE TO DESIGN AND BUILD A WEBSITE?</strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        website typically takes around 2-7 days
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    </p><br>
                    <p class="move-in">
                        <strong>WHAT INFORMATION/CONTENT DO YOU NEED FROM ME TO DESIGN MY WEBSITE?</strong><br><br>
                        <em> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt :</em>
                    </p>
                    <p class="move-in">
                        <strong>Written Content:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, etc.<br/>
                        <strong>Images/Photographs:</strong> Lorem ipsum dolor sit amets (Please enquire if you do not have this available)<br/>
                        <strong>Contact Information:</strong> Telephone, Fax, Lorem ipsum dolor sit amet etc.
                    </p><br>
                    <p class="move-in">
                        <strong>WILL MY WEBSITE WORK ON MOBILE DEVICES?</strong><br>
                       Lorem ipsum dolor sit amet oLorem ipsum dolor sit ametll Lorem ipsum dolor sit amet, laptops,
                        Lorem ipsum dolor sit amets.
                    </p><br>
                    <p class="move-in">
                        <strong> WHAT CUSTOMER SUPPORT DO I GET? </strong><br>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </P><br>
                    
                </section>
            </main>
            
        </div> 
        <footer>
                <% include ../partials/footer %>
        </footer>
            <!-- Scripts 
            <script>
                function sendSearchResault() {
                    const x = document.forms["homePageSearchForm"]["homeSearchForm"].value;
                    if (x === "") {
                        alert("Search Box can not be empty...");
                        return false;
                        }
                    }
            </script> -->
            <% include ../partials/scripts %>
    </body>
</html>
