<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/indexFlexBox.css"/>
    </head>
    <body>
        <div id='mainDiv'>
            <section id="section1">
            <!-- <img src="../public/images/main-page-image.png" id="mainPageImage"/>-->
                <header>
                    <% include ../partials/header %>
                </header>
            </section>
            <main role="main" id="bodyFlexSection" class="content">
                <section id="section2">
                    <p></p>
                    <img src="../../public/images/main-page-image.png" id="mainPageImage2"/>
                    <p class="move-in">
                        Our software design and development agency provides a complete service for anyone
                        who wants to build a digital product, taking you from an idea in your head to your 
                        first paying customers and beyond.
                    </p>
                    <P>
                        <img src="../../public/images/home-second-image.png" id="mainPageImage2"/>
                    </P>
                    <p class="move-in alignText">
                        We design professional quality websites at affordable prices and take care in making sure that 
                        each website design effectively communicates the client’s brand and projects a professional image.
                        Our website design company uses modern web design practices and technologies, 
                        our sites are optimized to render beautifully on desktop and mobile devices
                    </p>
                    <p>
                        <img src="../../public/images/follow-on-dev.svg" id="mainPageImage3"/>
                    </p>
                    <p class="move-in">
                        <strong>Follow-on development</strong><br>
                        If you've already launched an app and need to build more features or a whole 
                        new phase, we’re here to help!<br><br>
                        <strong>MVP software development</strong><br>
                        In a few short weeks we'll take your idea and turn it into a working product, enabling 
                        you to get your first paying customers and your business off the ground.
                    </p>
                </section>
                <section id="section3">
                    <p class="move-in"></p>
                    <img src="../../public/images/top-page-image.png" id="topPageImage"/>
                    <p class="move-in">
                        Our expert design and development teams have helped dozens of startups fund, design,
                        build and launch digital products.
                    </p>
                    <br>
                    <p class="move-in">
                    <strong>WHAT IS A “PAGE” DESIGN?</strong><br>
                    Web design itself refers to the process of creating a web page’s appearance and to the choice of a right
                    color scheme, page layout, fonts and more. Every single web page in a website has different content,
                    but all the pages are using a similar graphic design.
                    Adevoon makes use of website templates, which contain all the basic elements of web design – 
                    the website’s CSS style, buttons, backgrounds, borders and various graphic elements like hover 
                    images, bullets and header banners. When the website template is applied to the website, all the
                    pages assume its appearance, using the same styles, background and other graphical elements.But most
                    of the pages in a website have their own design elements. This is needed because every page has to
                    present different content, and the basic website style is not fully applicable for all the web pages.
                    For example, designing a contact form will sometimes require a custom layout and design elements
                    with which to handle the form’s fields, buttons, drop-down menus, etc. All these styles, layouts,
                    images, etc. are often not applicable for the other website pages. So, the contact page uses the 
                    basic website template for the menus, backgrounds, header images, etc. but also has its own web 
                    page design,  including the contact form’s design itself and all the other elements specific for
                    that page. Most small businesses only require up to 4 pages to be designed, for example; Home, 
                    About us, Services and Contact us.</p><br>
                    <p class="move-in">
                        <strong> HOW LONG DOES IT TAKE TO DESIGN AND BUILD A WEBSITE?</strong><br>
                        The time it takes to produce a website depends on the size and complexity of your site. A basic 5-page
                        website typically takes around 2-7 days
                        while large e-Commerce sites can take up to 14 days from beginning to end.
                    </p><br>
                    <p class="move-in">
                        <strong>WHAT INFORMATION/CONTENT DO YOU NEED FROM ME TO DESIGN MY WEBSITE?</strong><br><br>
                        <em> We need all the information that you would like to have on your website, this includes the following:</em>
                    </p>
                    <p class="move-in">
                        <strong>Written Content:</strong> This would be usually a company profile or services you provide, company 
                        information, etc.<br/>
                        <strong>Images/Photographs:</strong> Your logo, images and photos (Please enquire if you do not have this available)<br/>
                        <strong>Contact Information:</strong> Telephone, Fax, Physical Address, Email Address, etc.
                    </p><br>
                    <p class="move-in">
                        <strong>WILL MY WEBSITE WORK ON MOBILE DEVICES?</strong><br>
                        Yes, using responsive design we ensure our sites work on all devices, including desktops, laptops,
                        tablets and mobiles.
                    </p><br>
                    <p class="move-in">
                        <strong> WHAT CUSTOMER SUPPORT DO I GET? </strong><br>
                        Adevoon is proud to offer our clients exceptional customer support. Our team is
                        highly trained, friendly and dedicated to your success that you can reach via email, live chat, 
                        ticketing support or telephone. We offer a knowledgebase with useful tutorials and videos that will 
                        assist you with all aspects of hosting your website.
                    </P><br>
                    
                </section>
            </main>
            
        </div> 
        <footer>
                <% include ../partials/footer %>
        </footer>
            <!-- Scripts 
            <script>
                function sendSearchResault() {
                    const x = document.forms["homePageSearchForm"]["homeSearchForm"].value;
                    if (x === "") {
                        alert("Search Box can not be empty...");
                        return false;
                        }
                    }
            </script> -->
            <% include ../partials/scripts %>
    </body>
</html>