<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
            <link rel="stylesheet" href="../../public/styles/price.css" />
        </header>
        <main role="main" class="content">
            <section id="section1">
                <h1 class="moveIn">Fully Managed Websites</h1>
                <p class="moveIn">Our monthly websites which cost $249.99 USD and yearly website which const $499.99+ USD
                     make getting your business or blog online, easy! Just choose your
                    package (monthly or yearly) and sign up. After the sign-up process, you’ll tell us your
                    business name, business genre, and select all of the features that you prefer. We’ll
                    get started immediately by setting up your new web server.<br><br>
                    Your personal webmaster will contact you to work with you during the build and 
                    to provide the link to review your beautiful and responsive new site design! After
                    approval, your site goes live and is fully functional. Add more pages as you like!
                    We’ll even provide custom logo designs.
                </p>
                <p class="moveIn">
                    <h1 class="moveIn">Top notch UX and design</h1>
                    <div class="moveIn">
                            Our goal during the project development phase for a new website is to accurately
                            implement the design and interactive elements through code.<br>
                            Our team ofdevelopers and designers
                            are extremely proficient with the languages and tools required to alter and 
                            write the code you need. With more years in the industry, they are
                            teachers as well as forever students, adding new knowledge to their repertoire
                            every year. If you’re looking for a more comprehensive service, you may
                            wish to consider a fully managed website.<br>
                            Not limited to front-end specifications, we can also assist in 
                            server, database, and CMS security and administration.<br>
                            Before your new website is built, decisions are made regarding hosting,
                            domain name acquisition, and the framework.<br>
                            We can provide assistance every step of the way with VPS hosting, SSL
                            integration and choosing the kind of site that fits your business best. 
                            Custom builds with hard-coded HTML, or database driven content management systems
                    </div>
                </p>
                <p class="moveIn">
                    All web development projects come with 30 days of free maintenance following 
                    the date of publication to ensure a smooth transition and complete functionality. 
                    Website security are included with every hosting package at no additional cost.<br>
                    Our sites are built to last and are always responsive to mobile devices. 
                    We work hard to ensure that your web development project will meet and exceed
                    your online campaign goals. Your new website will be fast, reliable, responsive,
                    and unique. Always here to review and revise along the way, your involvement is
                    encouraged throughout the creation process. Also experts in graphic design, we 
                    ensure that startups benefit from our branding and advertising experience with
                    designs that outshine their competition.
                </p>
                <p class="moveIn">
                    <h1 class="moveIn">Website maintenance</h1>
                    <div class="moveIn">
                            Every business needs website maintenance to keep things secure and up to date.
                            Keeping the code updated will ensure that you avoid problems like incompatibility
                            with web browsers, malfunctions, and will keep your data and visitors safe from 
                            hackers and malware.<br>
                            Our webmasters will visit your site’s coding and security logs to ensure that 
                            things are up to date and running smoothly while performing back-ups as an extra
                            measure of redundancy<br>
                            Our designers will crop, size, and replace images with new ones that you supply.
                            They’ll be artfully placed to compliment your current layout and will always be
                            responsive to various sized viewing devices.<br>
                            We can change your calendar dates, event announcements, product prices, and even
                            send out newsletters and announcements for you. We look forward to helping your
                            business succeed online!
                    </div>
                </p>
            </section>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Scripts -->
        <% include ../partials/scripts %>
    </body>
</html>