<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link href="../../public/styles/serviceFlexBox.css" rel="stylesheet"/>
    </head>
    <body>
            <!--<img src="../public/images/top-page-image.png" id="topPageImage" /> -->
        <div id="mainDiv">
            <header>
                <% include ../partials/header %>
            </header>
            <main role="main">
                <section id="section1-flex-column" class="space">
                        <img src="../../public/images/mvp-timeline.svg">
                    <span class="center_service_text" id="service_span_1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</span><br/>
                    <div id="section1-flex-row" class="space">
                        <div id="flex-column1" class="space">
                                <img src="../../public/images/our-mission.png" style="width: 60%; height:50%; margin-left: 100px">
                            <h1 class="put-heading-to-center">OUR MISSION</h1>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div id="flex-column2" class="space">
                            <img src="../../public/images/our-services.png" style="width: 60%; margin-left: 100px; height: 50%;"/>
                            <h1 class="put-heading-to-center">CUSTOMER SERVICE</h1>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </section>
                <section id="section2-flex-column" class="space">
                    <h1 class="put-heading-to-center">OUR AFFORDABLE WEBSITE DESIGN PACKAGES INCLUDE</h1>
                    <div id="section2-flex-row" class="space">
                        <div class="space">
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">domain</i>FREE DOMAIN REGISTRATION</h1>
                                All our website design packages include free domain registration.
                            </div>
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">cloud_upload</i>HOSTING PLAN</h1>
                                12 Months hosting included on all once-off web design packages!
                            </div>
                        </div>
                        <div class="space ">
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">cell_wifi</i>UNLIMITED BANDWIDTH</h1>
                                Your website will be online 24/7 with a 99.9% uptime guarantee.
                            </div>
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">email</i>BUSINESS EMAIL ACCOUNTS</h1>
                                Create up to 75 personalized email accounts for your business.
                            </div>
                        </div>
                        <div class="space">
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">report</i>OPTIMIZED SOFTWARE</h1>
                                All software installed on our machines are optimized for stability and speed.
                            </div>
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">wc</i>OUTSTANDING SUPPORT</h1>
                                We guarantee quick response times and your satisfaction!
                            </div>
                        </div>
                    </div>
                </section>
                <section class="space">
                        <!-- <img src="../../public/images/product-design.png" style="width: 60%; height: 40%; margin: auto" /> -->
                    <h1 style="text-align: center">Product design</h1>
                    <div style="text-align: center; width: 50%; margin: auto">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            <p>
                               "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <h1>Tell Us About Your Project</h1>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </div>
                </section>
                <!--
                <section class="space">
                    <h1>MVP software development</h1>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                </section>
                <section class="space">
                    <h1>Follow-on development</h1>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                </section>
                -->
            </main>
        </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <!-- Scripts -->
    <% include ../partials/scripts %>
    </body>
</html>
