<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link href="../../public/styles/serviceFlexBox.css" rel="stylesheet"/>
    </head>
    <body>
            <!--<img src="../public/images/top-page-image.png" id="topPageImage" /> -->
        <div id="mainDiv">
            <header>
                <% include ../partials/header %>
            </header>
            <main role="main">
                <section id="section1-flex-column" class="space">
                        <img src="../../public/images/mvp-timeline.svg">
                    <span class="center_service_text" id="service_span_1">Adevoon is a professional website design, hosting and SEO company. 
                    we worke with businesses and individuals worldwide to create outstanding websites
                    at affordable prices. Every website we design uses responsive website design, 
                    to ensure that our work looks great on every device. We take pride in our fast 
                    turnaround time and one-on-one communication with our customers.</span><br/>
                    <div id="section1-flex-row" class="space">
                        <div id="flex-column1" class="space">
                                <img src="../../public/images/our-mission.png" style="width: 60%; height:50%; margin-left: 100px">
                            <h1 class="put-heading-to-center">OUR MISSION</h1>
                            Adevoon strives to be among the best website design company in the world
                            while offering top-notch customer support and one-on-one communication with the businesses we
                            work with. We guarantee you will be satisfied with our work. Your website is important – we 
                            can get the job done right.
                        </div>
                        <div id="flex-column2" class="space">
                            <img src="../../public/images/our-services.png" style="width: 60%; margin-left: 100px; height: 50%;"/>
                            <h1 class="put-heading-to-center">CUSTOMER SERVICE</h1>
                            One of the core values behind our business is to provide top-notch customer 
                            service to our customers. Need something changed on your website? Give us a call or 
                            drop us a mail – your updates will be done in 24 hours. Most times website 
                            updates are completed within minutes of your request
                        </div>
                    </div>
                </section>
                <section id="section2-flex-column" class="space">
                    <h1 class="put-heading-to-center">OUR AFFORDABLE WEBSITE DESIGN PACKAGES INCLUDE</h1>
                    <div id="section2-flex-row" class="space">
                        <div class="space">
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">domain</i>FREE DOMAIN REGISTRATION</h1>
                                All our website design packages include free domain registration.
                            </div>
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">cloud_upload</i>HOSTING PLAN</h1>
                                12 Months hosting included on all once-off web design packages!
                            </div>
                        </div>
                        <div class="space ">
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">cell_wifi</i>UNLIMITED BANDWIDTH</h1>
                                Your website will be online 24/7 with a 99.9% uptime guarantee.
                            </div>
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">email</i>BUSINESS EMAIL ACCOUNTS</h1>
                                Create up to 75 personalized email accounts for your business.
                            </div>
                        </div>
                        <div class="space">
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">report</i>OPTIMIZED SOFTWARE</h1>
                                All software installed on our machines are optimized for stability and speed.
                            </div>
                            <div class="space shadow">
                                <h1 class="textShadow"><i class="material-icons">wc</i>OUTSTANDING SUPPORT</h1>
                                We guarantee quick response times and your satisfaction!
                            </div>
                        </div>
                    </div>
                </section>
                <section class="space">
                        <!-- <img src="../../public/images/product-design.png" style="width: 60%; height: 40%; margin: auto" /> -->
                    <h1 style="text-align: center">Product design</h1>
                    <div style="text-align: center; width: 50%; margin: auto">
                            Combining creative insight with years of development experience, our product design workshops
                            are designed to help you take your first steps towards building your product.
                            <p>
                                    We see each new application or web development project as an opportunity to help someone succeed.
                                    We take the time for proper discovery and get to know your business, products, and services as much 
                                    as possible in order to identify specific problems and their solutions. We’ve worked with many
                                     businesses to redesign existing websites or branding media in an effort to increase participation, 
                                     sales and to outrank the competition. Our small experienced team can identify underlying problems
                                      and construct tangible solutions that will immediately help your business grow.
                            </p>
                            <h1>Tell Us About Your Project</h1>
                            We are independent consultants who can deliver world-class solutions that solve your toughest business problems. 
                            We look forward to exceeding your expectations.

                    </div>
                </section>
                <!--
                <section class="space">
                    <h1>MVP software development</h1>
                    Build a Minimum Viable Product: In a few short weeks we'll take your idea and turn it into a working product, 
                    enabling you to get your first paying customers and your business off the ground
                </section>
                <section class="space">
                    <h1>Follow-on development</h1>
                    If you've already launched an app and need to build more features or a whole new phase, we’re here to help!
                </section>
                -->
            </main>
        </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <!-- Scripts -->
    <% include ../partials/scripts %>
    </body>
</html>