<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/team.css"/>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main role="main" class="content">
            <section id="section1">
                <div>
                    <figure>
                        <img  src="../../public/images/me.jpg" alt="Photo of Ivo" style="margin:auto"/>
                        <figcaption id="imageText">Ivo as a software developer and <br>oprations manager ingineer</figcaption>
                    </figure> <br>
                    <div>
                        He is an experienced JavaScript developer as well as a systems administrator
                         adept in bringing forth expertise
                        in designing and building web applications. Equipped with a diverse
                        and promising skill-set. Proficient in various platforms, languages,
                        and embedded systems. Experienced with the latest cutting edge 
                        development tools and procedures.  Able to effectively self-manage
                        during independent projects, as well as collaborate as part of a 
                        productive team.
                        <p>
                             <strong>About Him</strong><br>
                             <em>"I like IT and everything in its orbit. I motivate myself by learning
                                new technologies or at list having and ideas of it, for example, machine
                                learning with JavaScript. I like reading, gaming, music and arts."
                            </em>
                                 
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        He is an experienced JavaScript developer adept in bringing forth expertise
                        in designing and building web applications. Equipped with a diverse
                        and promising skill-set. Proficient in various platforms, languages,
                        and embedded systems. Experienced with the latest cutting edge 
                        development tools and procedures.  Able to effectively self-manage
                        during independent projects, as well as collaborate as part of a 
                        productive team.
                    </p>
                </div> 
            </section>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Scripts -->
        <% include ../partials/scripts %>
    </body>
</html>