<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/team.css"/>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main role="main" class="content">
            <section id="section1">
                <div>
                    <figure>
                        <img  src="../../public/images/me.jpg" alt="Photo of Ivo" style="margin:auto"/>
                        <figcaption id="imageText">Ivo as a software developer and <br>oprations manager ingineer</figcaption>
                    </figure> <br>
                    <div>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <p>
                             <strong>About Him</strong><br>
                             <em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </em>
                                 
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div> 
            </section>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Scripts -->
        <% include ../partials/scripts %>
    </body>
</html>
