<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link href="../../public/styles/workFlexBox.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main role="main" class="content"></main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Scripts -->
        <% include ../partials/scripts %>
    </body>
</html>